.inserirJejum {
    --BgColor: #063638;
    --TextColor: #E2D6D6;
    --TextButton: #FFFFFF;
    --ButtonBg: #F3701E;
    --CardBg: #4B607F;
    --ButtonBorder: #000000;
    --CardBgShadow: -4px 5px 4px #00000070;
    --CardBgShadowHover: -9px 9px 4px #000000a1;
    --inputBg: #e8d8c9a4;
    --BorderInput: #2e2e2e;

    background-color: var(--BgColor);
    min-height: 110vh;

    .nameuser {
        color: var(--TextColor);
        text-align: start;
        margin: 30px;
        width: 150px;
        font-size: 1.6rem;
    }

    .desc {
        color: var(--TextColor);
        text-align: center;
        font-size: 1.4rem;
    }

    .dadosUser {
        display: flex;
        flex-direction: column;
        padding-top: 2%;
        gap: 20px;

        position: relative;
        left: 35%;
        top: 20px;
        height: 310px;
        width: 30%;
        
        text-align: center;
        border-radius: 15px;

        color: var(--TextColor);
        background-color: var(--CardBg);
        box-shadow: var(--CardBgShadow);

        &:hover{
            box-shadow: var(--CardBgShadowHover);
            transform: translateY(-2px)
        }

        .input0,
        .input1,
        .input2,
        .input3 {
            input {
                border-radius: 7px;
                width: 80%;
                height: 70%;
                padding-left: 3%;
                font-size: 0.8rem;
                border: none;
                border: 1px solid var(--BorderInput);
            }
        }

        .btn{
            background-color: var(--ButtonBg);
            color: var(--TextButton);

            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%);
            
            width: 50%;
            height: 10%;

            border-radius: 7px;
        }
    }

    footer {
        height: 15%;
        position: fixed;
        bottom: 0;
    }
}