.inserirJejum {
    --BgColor: #063638;
    --TextColor: #E2D6D6;
    --TextButton: #FFFFFF;
    --ButtonBg: #F3701E;
    --CardBg: #4B607F;
    --ButtonBorder: #000000;
    --CardBgShadow: -4px 5px 4px #00000070;
    --CardBgShadowHover: -9px 9px 4px #000000a1;
    --inputBg: #e8d8c9a4;
    --BorderInput: #2e2e2e;

    background-color: var(--BgColor);
    min-height: 100vh;

    .nameuser {
        color: var(--TextColor);
        text-align: start;
        margin: 30px;
        width: 150px;
        font-size: 1.6rem;
    }

    .desc {
        color: var(--TextColor);
        text-align: center;
        font-size: 1.4rem;
    }

    .dadosUser {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 35%;
        top: 20px;
        min-height: 280px;
        width: 30%;
        height: 100%;
        gap: 10px;
        text-align: center;
        color: var(--TextColor);
        background-color: var(--CardBg);
        box-shadow: var(--CardBgShadow);
        border-radius: 15px;

        &:hover{
            box-shadow: var(--CardBgShadowHover);
            transform: translateY(-2px)
        }

        .input0,
        .input1,
        .input2,
        .input3 {
            input {
                border-radius: 7px;
                width: 220px;
                height: 27px;
                padding-left: 7px;
                font-size: 12px;
                border: none;
                border: 1px solid var(--BorderInput);
            }
        }
    }

    footer {
        position: relative;
        top: 75px;
    }
}

@media screen and (max-width: 1024px) {
    .inserirJejum {
        .dadosUser {
            left: 30%;
            width: 40%;
        }
    }
}

@media screen and (max-width: 768px) {
    .inserirJejum {
        .nameuser {
            margin: 40px;
            font-size: 1.5rem;
        }
        
        .desc {
            font-size: 1.3rem;
        }
        
        .dadosUser {
            left: 25%;
            width: 50%;
        }
    }
}

@media screen and (max-width: 426px) {
    .inserirJejum {
        .nameuser {
            margin: 30px;
            font-size: 1.4rem;
            width: 120px;
        }
        
        .desc {
            font-size: 1.2rem;
        }
        
        .dadosUser {
            left: 15%;
            width: 70%;
            top: 15px;
            
            .input0,
            .input1,
            .input2,
            .input3 {
                input {
                    width: 200px;
                    height: 25px;
                }
            }
        }
        
        footer {
            top: 50px;
        }
    }
}