.cadastro {
    --BgColor: #063638;
    --TextColor: #E2D6D6;
    --TextButton: #FFFFFF;
    --ButtonBg: #F3701E;
    --CardBg: #4B607F;
    --ButtonBorder: #000000;
    --CardBgShadow: -4px 5px 4px #00000070;
    --CardBgShadowHover: -9px 9px 4px #000000a1;
    --inputBg: #e8d8c9a4;
    $animation-duration: 450ms;
    $animation-distance: 30px;

    background-color: var(--BgColor);
    min-height: 100vh;

    .title {
        margin-top: 50px;
        color: var(--TextColor);
        text-align: center;
        transition: 450ms;

        //animação ao entrar no site:
            opacity: 0; //definir as variaveis
            transform: translateY($animation-distance);
            animation: slideUp $animation-duration ease-out forwards;

            @keyframes slideUp{
                0%{
                    opacity: 0;
                    transform: translateY($animation-distance);
                }
                
                50%{
                    opacity: 0.50;
                }

                100%{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
    }

    .dados {
        display: flex;
        color: var(--TextColor);
        justify-content: space-evenly;

        .coluna1 {
            display: flex;
            flex-direction: column;
            gap: 40px;
            max-width: 332px;
            width: 100%;

            .input {
                input {
                    margin-top: 5px;
                    padding-left: 25px;
                    max-height: 37px;
                    border-radius: 25px;
                    border: none;
                    height: 100%;
                    width: 100%;
                    padding-right: 16px;
                    background-color: var(--inputBg);
                }
            }
        }

        .coluna2 {
            display: flex;
            flex-direction: column;
            gap: 40px;
            max-width: 332px;
            width: 100%;

            .input {
                input {
                    margin-top: 5px;
                    padding-left: 25px;
                    max-height: 37px;
                    border-radius: 25px;
                    border: none;
                    height: 100%;
                    width: 100%;
                    background-color: var(--inputBg);
                }
            }
        }
    }

    .cadastrar{
        background-color: var(--ButtonBg);
        color: var(--TextButton);
        border: 1px solid var(--ButtonBorder);
        box-shadow: var(--CardBgShadow);
        border: none;
        height: 47px;
        width: 120px;
        position: absolute;
        top: 70%;
        border-radius: 15px;
        transition: 450ms;
        &:hover{
            transform: translateY(-6px);
        }

    }

    footer {
        position: relative;
        margin-top: 13.5%;
    }
}