.cards{
    height: 30vh;
    display: flex;

    margin: 10px;
    justify-content: center;
    gap: 10%;

    .card{
        border-radius: 20px;
        width: 350px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        

        button{
            background-color: rgba(243, 112, 30, 1);
            width: 60%;
            height: 20%;

            border-radius: 12px;
            a{
                text-decoration: none;
                color: beige;
            }
        }
        
    }

}