.Header-Home{
    --BgColor: #0E6063;
    --ColorText: #E2D6D6;
    --BottomShadow: 0px 10px 4px #051F20;

    min-height: 65px;
    width: 100%;
    background-color: var(--BgColor);
    box-shadow: var(--BottomShadow);

    .nav-Header{
        display: flex;
        align-items: center;
        min-height: 65px;

        .user{
            margin-left: 2%;
        }

        .itens{
            display:flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            position: absolute;
            left: 70%;
            .item1, .item2, .item3, .item4{
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 5px;
                .link{
                    color: var(--ColorText);
                    text-decoration: none;
                }
            }
        }
    }
    
}

@media screen and (width < 768px){
    .Header-Home{
        .opcoesMenu{
            position: fixed;
            top: 10%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
            background-color: red;
            width: 100%;
            height: 340px;
            text-align: center;
            .link{
                color: var(--ColorText);
                text-decoration: none;
            }
       }
    }
}